.class {
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

@font-face {
    font-family: ModernSans;
    src: url(fonts/MODERNESANS.ttf);
}

.custom {
    background: #839A47;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    z-index: 777;
    position: relative;
    width: 100%;
}

#poem {
    font-size: 10px;
    margin-top: 30px;
}

#poem-info {
    margin-top: 60px;
    margin-bottom: 30px;
}

.img-author {
    margin-top: 50px;
    position: fixed;
    width: 300px;
    height: auto;
}

body {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr {
    background: none;
    border: none;
    width: auto;
    height: 0;
    border-top: 2px dotted lightgray;
    border-left: 90px solid transparent;
    /* shortening left side*/
    border-right: 90px solid transparent;
    /* shortening right side*/
}

h1 {
    font-family: ModernSans;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    font-family: ModernSans;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 15.4px;
}

p {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 30px;
    font-style: italic;
    font-variant: normal;
    padding: 10px;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}