.class {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
}

@font-face {
    font-family: ModernSans;
    src: url(fonts/MODERNESANS.ttf);
}

.custom {
    background: #839A47;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    z-index: 777;
    position: relative;
    width: 100%;
}

#poem {
    font-size: 10px;
    margin-top: 30px;
}

#poem-info {
    margin-top: 60px;
    margin-bottom: 30px;
}

.img-author {
    margin-top: 50px;
    position: fixed;
    width: 300px;
    height: auto;
}

body {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.star-button {
    position: fixed;
}

hr {
    background: none;
    border: none;
    width: auto;
    height: 0;
    border-top: 2px dotted lightgray;
    border-left: 90px solid transparent;
    /* shortening left side*/
    border-right: 90px solid transparent;
    /* shortening right side*/
}

h1 {
    font-family: ModernSans;
    font-size: 2.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    font-family: ModernSans;
    font-size: 1.2vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 15.4px;
}

p {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 1.4vw;
    font-style: italic;
    font-variant: normal;
    font-weight: 100;
    /*padding: 10px;*/
    font-weight: 400;
    /*line-height: 20px;*/
}

blockquote {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.author-info {
    overflow: hidden;
    position: relative;
    /* the container's height will determine the height of its slider  */
    height: 350px;
    bottom: 0px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer-content {
    display: none;
}

#footer-left {
    width: 20%;
    height: 145px;
    float: left;
    background-color: #5C4033;
    opacity: 0.8;
}

#footer-left h3 a {
    color: #B2816E;
    text-transform: lowercase;
}

#footer-right {
    width: 80%;
    height: 145px;
    float: right;
    background-color: #B29F63;
    opacity: 0.8;
}

.toggle-footer {
    position: relative;
    width: 100px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
    top: 0;
    left: 0;
    font-size: 2.5vw;
}

#inner_foot {
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-color: #dedede;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 40px rgba(128, 128, 128, 0.2) inset;
}